<h1> Detalles del Proyecto </h1>
<a [routerLink]="['/projects']">Ver todos</a>

<div *ngIf="project">
  <div class="project-thumbnail">
    <img height="300" [src]="project.image" alt="">
  </div>

  <div class="project-info">
    <h2>{{ project.name }}</h2>
    <p> {{ project.location }}</p>
    <p> {{ project.surface }}</p>
    <p> {{ project.duration }}</p>
    <p> {{ project.description }}</p>

    <div *ngIf="project.tags.length">
      <h4> Tags </h4>
      <ul>
        <li *ngFor="let tag of project.tags">{{ tag &nbsp;}}</li>
      </ul>
    </div>
  </div>
  <button (click)="deleteProject()"> Borrar </button>
</div>
