<p>
  Editar Proyecto {{ editProject.name }}
</p>

<div class="row">
  <div class="col">
    <button (click)="deleteProject()" class="btn btn-danger"> Eliminar Proyecto </button>
  </div>
</div>

<hr>

<form>
  <fieldset>
    <legend> Información del proyecto </legend>

    <div class="form-group">
      <label for="image"> Imagen </label>
      <input type="text" [(ngModel)]="editProject.image" name="editProject.image" required class="form-control" id="image" placeholder="Imagen de cabecera"/>
    </div>

    <div class="form-row">
      <div class="form-group col-md">
        <label for="name"> Nombre </label>
        <input type="text" [(ngModel)]="editProject.name" name="editProject.name" required class="form-control" id="name" placeholder="Nombre del proyecto"/>
      </div>

      <div class="form-group col-md">
        <label for="location"> Ubicación </label>
        <input type="text" [(ngModel)]="editProject.location" name="editProject.location" required class="form-control" id="location" placeholder="Localización del proyecto"/>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md">
        <label for="surface"> Superfície </label>
        <input type="text" [(ngModel)]="editProject.surface" name="editProject.surface" required class="form-control" id="surface" placeholder="Superfície total" />
      </div>

      <div class="form-group col-md">
        <label for="duration"> Duración </label>
        <input type="text" [(ngModel)]="editProject.duration" name="editProject.duration" required class="form-control" id="duration" placeholder="Duración total"/>
      </div>
    </div>

    <div class="form-group">
      <label for="description"> Descripción </label>
      <textarea type="text" [(ngModel)]="editProject.description" name="editProject.description" required  class="form-control" id="description" placeholder="Descripción" rows="5"> </textarea>
    </div>

    <label for="tags"> Etiquetas </label>
    <div class="input-group mb-3">
        <input type="text" #tag maxlength="15" aria-label="Recipient's username" aria-describedby="tags" class="form-control" id="tags" placeholder="Añade tags">
      <div class="input-group-append">
        <button (click)="addTag(tag.value); tag.value = ''" class="btn btn-outline-secondary" type="button"> Añadir </button>
      </div>
    </div>

    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let tag of editProject.tags"> #{{ tag }} &nbsp; </li>
    </ul>

  </fieldset>
  <button (click)="updateProject()" class="btn btn-primary"> Guardar </button>
</form>

<hr>

<legend> Vista previa </legend>

<div *ngIf="editProject">
  <div class="project-thumbnail">
    <img height="300" [src]="editProject.image" alt="">
  </div>

  <div class="project-info">
    <h3>{{ editProject.name }}</h3>
    <p> {{ editProject.location }}</p>
    <p> {{ editProject.surface }}</p>
    <p> {{ editProject.duration }}</p>
    <p> {{ editProject.description }}</p>

    <div *ngIf="editProject.tags.length">
      <h6> Etiquetas </h6>
      <ul class="list-inline">
        <li class="list-inline-item" *ngFor="let tag of editProject.tags">#{{ tag }} &nbsp;</li>
      </ul>
    </div>
  </div>
</div>
